@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}
/* 
.overlayActive {
 
  clip-path: circle(75%);
  transition: all 300ms ease-in-out;
  border: 3px;
  border-color: aquamarine;
  animation: bounce 1s infinite;
}

.overlayInactive {
  clip-path: circle(25px at calc(100% -45px));

  transition: all 300ms ease-in-out;
  border: 3px;
  border-color: black;
  display: none;
} */

.overlay {
  clip-path: circle(0px at calc(100% - 20px) 40px);
  transition: all 400ms ease-in-out;
}

.overlayActive {
  clip-path: circle(75%);
}
.navLink {
  transition: all ease 0.3s;
}
.navLink:hover {
  box-shadow: inset 200px 0 0 0 #e0e0e0;
  color: black;
}
