.overlay {
  clip-path: circle(0px at calc(100% - 20px) 40px);
  transition: all 250ms ease-in-out;
}

.overlayActive {
  clip-path: circle(75%);
  z-index: 10;
}
.navLink {
  transition: all ease 0.3s;
}
.navLink:hover {
  box-shadow: inset 200px 0 0 0 #e0e0e0;
  color: black;
}
